.card{
    background: linear-gradient(158deg, var(--secondary-color) 0%, rgba(30,47,141,1) 100%);
    width:50%;
    padding: 30px;
    color: white;
  flex-grow: 1;
}
@media(max-width:768px){
.card{
    width: 100%;
    font-size: 14px;

}
}