
@media(max-width:768px){
    .paddingcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      
    }
}
@media(min-width:992px){
    .paddingcontainer{
    padding: 15rem
    }
}